* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
box-sizing: border-box;

}


.my__footer{
    background: linear-gradient(225deg, rgb(245, 175, 25) 0%, rgb(241, 39, 17) 100%);
height: 55px;
}